        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'posteTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'posteTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'posteTitre' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'posteTitre' | translate}}" id="1" [(ngModel)]="item.titre"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'posteDiscription' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'posteDiscription' | translate}}" id="2" [(ngModel)]="item.discription"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'posteDateAffectation' | translate}}</label>
                                            <p-calendar appendTo="body" id="3"   [showTime]="true" [showSeconds]="false" placeholder="{{'posteDateAffectation' | translate}}"  [(ngModel)]="item.dateAffectation"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                    <div class="field col-11 md:col-5">
                                            <label for="4">{{'posteDepartement' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="departements" [(ngModel)]="item.departement" id="4"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="id" placeholder="{{'posteDepartement' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateDepartement('Departement')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-departement-create-admin></app-departement-create-admin>


    </p-dialog>
