        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'employeTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'employeTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-3">
                                            <label for="1">{{'employeLogin' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeLogin' | translate}}" id="1" [(ngModel)]="item.login"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="2">{{'employePassword' | translate}}<span style="color: red;">*</span></label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employePassword' | translate}}" id="2" [(ngModel)]="item.password"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validEmployePassword}"  />
                                            <small class='p-error' *ngIf='!validEmployePassword'>Password est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="3">{{'employePrenom' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employePrenom' | translate}}" id="3" [(ngModel)]="item.prenom"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="4">{{'employeNom' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeNom' | translate}}" id="4" [(ngModel)]="item.nom"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="5">{{'employeDateDeNaissance' | translate}}</label>
                                            <p-calendar appendTo="body" id="5"   [showTime]="true" [showSeconds]="false" placeholder="{{'employeDateDeNaissance' | translate}}"  [(ngModel)]="item.dateDeNaissance"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="6">{{'employeLieuDeNaissance' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeLieuDeNaissance' | translate}}" id="6" [(ngModel)]="item.lieuDeNaissance"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="7">{{'employeAdresse' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeAdresse' | translate}}" id="7" [(ngModel)]="item.adresse"
                                                     />
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="8">{{'employeSexe' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="sexes" [(ngModel)]="item.sexe" id="8"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{'employeSexe' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateSexe('Sexe')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="9">{{'employeCin' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeCin' | translate}}" id="9" [(ngModel)]="item.cin"
                                                     />
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="10">{{'employeParcoursUniversitaire' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="parcoursUniversitaires" [(ngModel)]="item.parcoursUniversitaire" id="10"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="id" placeholder="{{'employeParcoursUniversitaire' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateParcoursUniversitaire('ParcoursUniversitaire')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="11">{{'employeTel' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeTel' | translate}}" id="11" [(ngModel)]="item.tel"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="12">{{'employeDateEmbauche' | translate}}</label>
                                            <p-calendar appendTo="body" id="12"   [showTime]="true" [showSeconds]="false" placeholder="{{'employeDateEmbauche' | translate}}"  [(ngModel)]="item.dateEmbauche"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="13">{{'employeMatricule' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="13"
                                                           placeholder="{{'employeMatricule' | translate}}" [(ngModel)]="item.matricule"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="14">{{'employeAdressEmail' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeAdressEmail' | translate}}" id="14" [(ngModel)]="item.adressEmail"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="15">{{'employeCompteBancaire' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeCompteBancaire' | translate}}" id="15" [(ngModel)]="item.compteBancaire"
                                                     />
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="16">{{'employeDepartement' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="departements" [(ngModel)]="item.departement" id="16"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="id" placeholder="{{'employeDepartement' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateDepartement('Departement')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="17">{{'employePoste' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="postes" [(ngModel)]="item.poste" id="17"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="id" placeholder="{{'employePoste' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreatePoste('Poste')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="18">{{'employeNotation' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="notations" [(ngModel)]="item.notation" id="18"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="id" placeholder="{{'employeNotation' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateNotation('Notation')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="19">{{'employeNombreAbsence' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="19"
                                                           placeholder="{{'employeNombreAbsence' | translate}}" [(ngModel)]="item.nombreAbsence"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="20">{{'employeConges' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="congess" [(ngModel)]="item.conges" id="20"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="id" placeholder="{{'employeConges' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateConges('Conges')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="21">{{'employeEchelle' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="echelles" [(ngModel)]="item.echelle" id="21"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="reference" placeholder="{{'employeEchelle' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateEchelle('Echelle')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="22">{{'employeEchelon' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="echelons" [(ngModel)]="item.echelon" id="22"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="reference" placeholder="{{'employeEchelon' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="23">{{'employeGrade' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="grades" [(ngModel)]="item.grade" id="23"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{'employeGrade' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="24">{{'employeLocal' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="24"
                                                           placeholder="{{'employeLocal' | translate}}" [(ngModel)]="item.local"  >
                                            </p-inputNumber>
                                            
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-sexe-create-admin></app-sexe-create-admin>
                    <app-parcours-universitaire-create-admin></app-parcours-universitaire-create-admin>
                    <app-departement-create-admin></app-departement-create-admin>
                    <app-poste-create-admin></app-poste-create-admin>
                    <app-notation-create-admin></app-notation-create-admin>
                    <app-conges-create-admin></app-conges-create-admin>
                    <app-echelle-create-admin></app-echelle-create-admin>


    </p-dialog>
