
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'employeTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="grid">
                    <div class="field col-12 md:col-3">
                        <label for="1">{{'Login' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Login' | translate}}" autofocus  id="1" [(ngModel)]="item.login">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="2">{{'Password' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Password' | translate}}" autofocus  id="2" [(ngModel)]="item.password">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="3">{{'Prenom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Prenom' | translate}}" autofocus  id="3" [(ngModel)]="item.prenom">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="4">{{'Nom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Nom' | translate}}" autofocus  id="4" [(ngModel)]="item.nom">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="5">{{'Date de naissance' | translate}}</label>
                        <p-calendar id="5" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date de naissance' | translate}}"  [(ngModel)]="item.dateDeNaissance" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="6">{{'Lieu de naissance' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Lieu de naissance' | translate}}" autofocus  id="6" [(ngModel)]="item.lieuDeNaissance">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="7">{{'Adresse' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Adresse' | translate}}" autofocus  id="7" [(ngModel)]="item.adresse">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="8">{{'Sexe' | translate}}</label>
                        <p-dropdown [options]="sexes" [(ngModel)]="item.sexe" id="8" [disabled]="true" optionLabel="libelle" placeholder="{{'Sexe' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="9">{{'Cin' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Cin' | translate}}" autofocus  id="9" [(ngModel)]="item.cin">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="10">{{'Parcours universitaire' | translate}}</label>
                        <p-dropdown [options]="parcoursUniversitaires" [(ngModel)]="item.parcoursUniversitaire" id="10" [disabled]="true" optionLabel="id" placeholder="{{'Parcours universitaire' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="11">{{'Tel' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Tel' | translate}}" autofocus  id="11" [(ngModel)]="item.tel">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="12">{{'Date embauche' | translate}}</label>
                        <p-calendar id="12" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date embauche' | translate}}"  [(ngModel)]="item.dateEmbauche" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="13">{{'Matricule' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="13" [disabled]="true" placeholder="{{'Matricule' | translate}}" [(ngModel)]="item.matricule"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="14">{{'Adress email' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Adress email' | translate}}" autofocus  id="14" [(ngModel)]="item.adressEmail">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="15">{{'Compte bancaire' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Compte bancaire' | translate}}" autofocus  id="15" [(ngModel)]="item.compteBancaire">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="16">{{'Departement' | translate}}</label>
                        <p-dropdown [options]="departements" [(ngModel)]="item.departement" id="16" [disabled]="true" optionLabel="id" placeholder="{{'Departement' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="17">{{'Poste' | translate}}</label>
                        <p-dropdown [options]="postes" [(ngModel)]="item.poste" id="17" [disabled]="true" optionLabel="id" placeholder="{{'Poste' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="18">{{'Notation' | translate}}</label>
                        <p-dropdown [options]="notations" [(ngModel)]="item.notation" id="18" [disabled]="true" optionLabel="id" placeholder="{{'Notation' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="19">{{'Nombre absence' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="19" [disabled]="true" placeholder="{{'Nombre absence' | translate}}" [(ngModel)]="item.nombreAbsence"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="20">{{'Conges' | translate}}</label>
                        <p-dropdown [options]="congess" [(ngModel)]="item.conges" id="20" [disabled]="true" optionLabel="id" placeholder="{{'Conges' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="21">{{'Echelle' | translate}}</label>
                        <p-dropdown [options]="echelles" [(ngModel)]="item.echelle" id="21" [disabled]="true" optionLabel="reference" placeholder="{{'Echelle' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="22">{{'Echelon' | translate}}</label>
                        <p-dropdown [options]="echelons" [(ngModel)]="item.echelon" id="22" [disabled]="true" optionLabel="reference" placeholder="{{'Echelon' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="23">{{'Grade' | translate}}</label>
                        <p-dropdown [options]="grades" [(ngModel)]="item.grade" id="23" [disabled]="true" optionLabel="libelle" placeholder="{{'Grade' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="24">{{'Local' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="24" [disabled]="true" placeholder="{{'Local' | translate}}" [(ngModel)]="item.local"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



