
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'absenceTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Nombre absence' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="1" [disabled]="true" placeholder="{{'Nombre absence' | translate}}" [(ngModel)]="item.nombreAbsence"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Date absence' | translate}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date absence' | translate}}"  [(ngModel)]="item.dateAbsence" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Justification' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Justification' | translate}}" autofocus  id="3" [(ngModel)]="item.justification">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



